/*RESET CSS
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}
    */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: 0.5s;
    }
    
    html,body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        background: url(../Images/textura-madera-en-negro_2560x1600_xtrafondos.com.jpg) no-repeat;
    }
    
    body {
        font-family: sans-serif;
    }
    
    .contenedor-header {
        height: 50px;
    }
    
    header {
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
    }
    
    .logo {
        position: fixed;
        float: left;
        margin: 16px 36px;
        color: white;
        font-weight: bold;
        font-size: 24px;
    
    }
    
    nav {
        position: fixed;
        width: 100%;
        background-image: url(../images/banner.jpg);
    }
    
    nav ul {
        list-style: none;
        background: rgba(0, 0, 0, 0);
        overflow: hidden;
        color: white;
        padding: 0;
        text-align: center;
        margin: 0;
        transition: 1s;
    }
    
    nav ul li {
        display: inline-block;
        padding: 20px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    nav ul li, a:hover {
        color: rgba(97, 117, 148, 0.925);
    }
    
    .contenido {
        width: 100%;
        margin: 4em auto;
        font-size: 20px;
        line-height: 30px;
        text-align: justify;
    }
    
    
    
    /*PIE DE PAGINA*/
    footer {
        width: 100%;
        align-self: flex-end;
        padding: 2rem 8%;
        background-color: #0e0e0e;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .logo-footer {
        height: 80px;
        margin-bottom: 1rem;
    
    }
    /*CONTENEDORES DEL FOOTER*/
    .contenedor-iconos-redes-sociales, .contenedor-menu-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    
    }
    /*STYLE PARA LOS ICONOS DE LAS REDES*/
    .icono-red-social {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid #f2f2f2;
        background-image: url(../ICONS/brand-facebook.png);
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        margin: 1rem;
    }
    
    .icono-red-social:hover {
        background-color: #121212;
        filter: invert(1);
    }
    
    /*ICONOS DE LAS REDES*/
    .icono-red-social:nth-of-type(2) {
        background-image: url(../ICONS/brand-github.png);
    }
    
    .icono-red-social:nth-of-type(3) {
        background-image: url(../ICONS/brand-instagram.png);
    }
    .icono-red-social:nth-of-type(4) {
        background-image: url(../ICONS/brand-twitter.png);
    }
    
    .icono-red-social:nth-of-type(5) {
        background-image: url(../ICONS/brand-linkedin.png);
    }
    
    /*STYLE PARA EL MENU DEL FOOTER*/
    .contenedor-menu-footer {
        list-style-type: none;
        color: #f2f2f2;
        font-size: 18px;
    }
    
    /*STYLE PARA EL MENU DE LOS ITEMS*/
    .menu-item {
        margin: 1rem 1.5rem;
        cursor: pointer;
        opacity: 0.6;
    }
    
    .menu-item:hover {
        opacity: 1;
    }
    
    /*STYLE PARA EL COPYRIGHT*/
    .copyright {
        color: #f2f2f2;
        opacity: 0.3;
        text-align: center;
    }
    